<div class="header">
  <h1>Take part</h1>
  <p>Here you will find all kinds of useful opportunities -volunteering, studying abroad, youth exchanges and trainings,
    scholarships, etc! Surf and Enjoy!</p>
</div>

<div class="main">
  <div fxLayout="column" fxLayoutGap="50px">
    <div fxLayout="row" fxLayoutAlign="start stretch" fxFill *ngFor="let project of projects">
      <div>
        <img src="{{project.imageOfPlace}}" alt="Photo of a Shiba Inu">
      </div>
      <div class="about">
        <h1>"{{project.title}}" - {{project.place}}</h1>
        <p>Posted on: <span class="date">{{project['_kmd']['lmt'] | date}}</span></p>
        <p>{{project.description | shortenDesc}}<a routerLink="/projects/details/{{project._id}}" mat-button
            color="primary">[...]</a>
        </p>
        <button mat-raised-button color="primary" routerLink="/projects/details/{{project._id}}">Read more</button>
        <!-- admin button -->
        <button mat-raised-button color="warn" *ngIf="isAdmin"
          routerLink="/projects/delete/{{project._id}}">Delete</button>
        <button mat-raised-button color="accent" *ngIf="isAdmin"
          routerLink="/projects/edit/{{project._id}}">Edit</button>
      </div>
    </div>
  </div>
</div>