<div class="main">
  <article>
    <div fxLayout="row" fxLayoutAlign="start center">
      <h3>Full Name:</h3>
      <p>{{volunteer.fullName}}</p>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <h3>Telephone:</h3>
      <p>{{volunteer.telephone}}</p>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <h3>Age:</h3>
      <p>{{volunteer.age}}</p>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <h3>Gender:</h3>
      <p>{{volunteer.gender}}</p>
    </div>
    <div fxLayout="column" fxLayoutAlign="start">
      <h3>Special Needs:</h3>
      <p>{{volunteer.specialNeeds }}</p>
    </div>
    <div fxLayout="column" fxLayoutAlign="start">
      <h3>Cover letter:</h3>
      <p>{{volunteer.coverLetter}}</p>
    </div>
  </article>
</div>