<div>
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="fullName">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let volunteer"> {{volunteer.fullName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="telephone">
      <mat-header-cell *matHeaderCellDef> Telephone </mat-header-cell>
      <mat-cell *matCellDef="let volunteer"> {{volunteer.telephone}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="age">
      <mat-header-cell *matHeaderCellDef> Age </mat-header-cell>
      <mat-cell *matCellDef="let volunteer"> {{volunteer.age}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="gender">
      <mat-header-cell *matHeaderCellDef> Gender </mat-header-cell>
      <mat-cell *matCellDef="let volunteer"> {{volunteer.gender}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="button">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let volunteer"> <button mat-raised-button color="primary"
          routerLink="/volunteers/details/{{volunteer._id}}">Details</button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>