<mat-toolbar color="primary">

  <mat-toolbar-row class="mat-elevation-z7">
    <span>ProYouth</span>
    <a mat-button routerLink='/'>Home</a>
    <ng-template [ngIf]="!isLoggedIn">
      <a mat-button routerLink='/projects'>Take part</a>
      <a mat-button routerLink='/projects/create' *ngIf="isAdmin">Add project</a>
    </ng-template>
    <span class="example-spacer"></span>
    <ng-template [ngIf]="isLoggedIn">
      <a mat-button routerLink="/register">Register</a>
      <a mat-button routerLink='/login'>Login</a>
    </ng-template>

    <ng-template [ngIf]="!isLoggedIn">
      <button mat-button (click)="logout()">Logout</button>
    </ng-template>

  </mat-toolbar-row>

</mat-toolbar>